<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Nofollow" lan="LAN_NOFOLLOW_PLUGIN_TITLE" version="1.3" date="2017-01-13" compatibility="2.0" installRequired="true" >
	<author name="Arun S. Sekher" url="https://github.com/arunshekher" />
	<summary lan="">An SEO oriented plugin aimed to discourage Dofollow backlink building SPAM in e107 powered websites.</summary>
	<description lan="">An SEO oriented plugin aimed to discourage back-link building SPAM in e107 powered websites. It automatically inserts an rel=&#34;nofollow&#34; attribute to posted URLs in comment, chat, forum and other sections of the site. Links with an rel=&#34;nofollow&#34; attribute generate no positive benefits in terms of search engine algorithmic perspective for the poster and they are mostly dropped out of search engine link graph. </description>
	<keywords>
		<word>enhancement</word>
		<word>nofollow</word>
		<word>seo</word>
	</keywords>
	<category>tools</category>
	<copyright></copyright>
	<adminLinks>
		<link url="admin_config.php" description=""  icon='images/nofollow_32.png' iconSmall='images/nofollow_16.png' icon128="images/nofollow_128.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='active'>1</pref>
		<pref name='ignore_pages'></pref>
		<pref name='ignore_domains'></pref>
		<pref name='parse_method'>regexHtmlParse_Nofollow</pref>
		<pref name='filter_context'>1</pref>
	</pluginPrefs>
</e107Plugin>